<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Clicheur.fr : Vocabulaire des TIC</title>
        <link rel="icon" href="favorimage.ico" />
        <link rel="stylesheet" type="text/css" href="bitoduc.css" />
    </head>
    <body>
        <div id="tout">
            <h1>Clicheur.fr : Vocabulaire des TIC</h1>

            <div id="subtitle">
                <i><b>clicheur</b> [kliʃ œ:ʀ] - nm. En imprimerie, ouvrier dont le travail consiste à confectionner un cliché. syn. stéréotypeur</i>
            </div>

            <div id="intro">
                    Clicheur.fr est un outil destiné à celles et ceux devant employer les termes techniques publiés au journal officiel ; par choix ou par obligation légale ou règlementaire (agents publics, prestataires du service public, etc.). <br><br>
                    Les traductions sont issues des termes des techniques de l’information et de la communication (TIC) de la base <a href="http://www.culture.fr/franceterme">FranceTerme</a>, publiée en CC-BY-SA par la Commission d’enrichissement de la langue française (https://www.culture.gouv.fr/Sites-thematiques/Langue-francaise-et-langues-de-France/Politiques-de-la-langue/Enrichissement-de-la-langue-francaise/FranceTerme/Vocabulaire-des-TIC-2017).

                <br/><br/>
                <div>
                    <a id="lienInversion" href="#" ></a>
                </div>

                <a href="#ang-fra"><span class="mot-anglais">Anglais</span>-<span class="mot-français">Français</span></a> - <a href="#fra-ang"><span class="mot-français">Français</span>-<span class="mot-anglais">Anglais</span></a>
            </div>

            <div id="mots">

